.navBtn{
	margin-left: 15px !important;
	margin-right: 15px !important;
	
	& span{
		font-weight: 600 !important;
	}
}



main > *{
	padding: 30px 0;
}

.navBtnSmall{
	& button{
		height: 64px !important;	
		
		& svg{
			fill: white !important;
		}
	}	
}
