
footer{
	background-color: #854332;
	color: #e8e8d8;
	width: 100%;
	overflow: hidden;
	z-index: 1100;
	box-shadow: rgba(0, 0, 0, 0.156863) 0px -3px 10px, rgba(0, 0, 0, 0.227451) 0px -3px 10px;
	
	& [class*="icon-"]{
		color: white !important;
		position: relative;
    font-size: 20px !important;

		&:hover{
			text-shadow: 1px 1px 15px white;
      color: color($accent1Color w(50%)) !important;
		}
	}
	
	& button{
		position: relative;
    padding: 0px !important;
    width: 28px !important;
    height: 24px !important;
	}
	
	& p{
		font-size: .9em;
    margin: 10px !important;
	}
	
	& h4{
    margin: 0;
		margin-top: 12px;
		
	}
}

