:global{
  & h2{
    margin: 10px 0px;
  }
  
  & .category{
    padding: 20px 20px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  & .subheader{
    line-height: normal !important;
  }

  & .categoryHeader{
    margin: 20px 20px;

    &:first-of-type{
      @media (max-width: $screen-md-max){
        margin-top: 50px;
      }
    }
  }
  
  & .item > div > div{
    padding: 8px 16px !important;
  }
}

.sidemenu{
  background-color: color($primary1Color) !important;
}

.fixedMenu{
  position: fixed;
  margin-top: 10px;
  width: 18%;
}

.tabs{
  margin-bottom: 20px;
}

.fixedTabs{
  position: fixed;
  z-index: 1100;
  width: 100%;
  margin-top: -30px;

  & > div{
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23) !important;
  }
}

.menuItems span {
  color: white !important;

  &:not(.activeMenuItem):hover{
    background: rgba(0, 0, 0, 0.05) !important;
  }
}

.activeMenuItem{
  background: $primary2Color !important;
}
