$fb-color: #3b5998;
$gg-color: #d50000;

.SocialButton{
	flex-grow: 1;
	
	span{
		width: 100% !important;
	}
	
	&, span{
		border-radius: 0px !important;
	}
	&.facebook{
		&>span{
			background-color: $fb-color !important;
		}
	}
	
	&.twitter{
		&>span{
			background-color: cornflowerblue !important;
		}
	}
	
	&.google{
		&>span{
			background-color: $gg-color !important;
			
		}
	}
}