$fb-color: #3b5998;
$gg-color: #d50000;
$tw-color: cornflowerblue;
$disabled-color: gray;

.root{
	flex-grow: 1;
	
	& span, & a{
		width: 100% !important;
	}
	
	&, & span, & a{
		border-radius: 0px !important;
		
		&:before{
			font-size: larger;
			line-height: inherit;
		}
	}

  & .largeIcon{
      width: 38px !important;
  }
	
  &.disabled{
		& span{
			background-color: $disabled-color !important;
		}
	}
	
	&.facebook{
		&>span, &>a{
			background-color: $fb-color !important;
		}
	}
	
	&.twitter{
		&>span, &>a{
			background-color: $tw-color !important;
		}
	}
	
	&.google{
		&>span, &>a{
			background-color: $gg-color !important;
		}
	}

  &.envelope{
		&>span, &>a{
			background-color: $accent1Color !important;
		}
	}
}
