.VoteArea{
	.VoteArea-submit-btn{
		margin: 20px auto !important;
		margin-bottom: 10px !important;
		width: 50% !important;
		position: relative;
		left: 50%;
		transform: translate(-50%);
	}
	
	.VoteArea-error{
		text-align: center;
		color: #d50000;
	}
	
	.VoteArea-list-item{
		max-width: 450px;
	}
}