.submitBtn{
	margin: 20px auto !important;
	margin-bottom: 10px !important;
	width: 50% !important;
	position: relative;
	left: 50%;
	transform: translate(-50%);
}

.error{
	text-align: center;
	color: #d50000;
}

.listItem{
	max-width: 450px;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 100;
  }
}

.options{
  animation: fadeIn .75s;
}

.authorLink {
  color: $primary1Color !important;
  text-decoration: none;
  text-decoration-color: black;
  -webkit-text-decoration-color: black;

  &:hover {
    text-decoration: underline;
  }
}
