.root {
	margin: 12px 0;
}

.colorSpread {
	height: 100%;
	display: inline-block;
  position: relative;
}

.user{
	color: $primary1Color;
}

.content {
	padding: 10px 20px;
	height: 200px;
	position: relative;
	overflow: hidden;
}

.gradinetHide {
	position: absolute;
	height: 60%;
	bottom: 0;
	left: 0;
	background: linear-gradient(rgba(0, 0, 0, 0), white);
	width: 100%;
}

.colorSpreadContainer {
	display: flex;
	width: 100%;
	height: 10px;

	&.top {
		height: 5px;
	}
}

.colorSpreadContainer:not(.top) {
  & > .colorSpread:hover > .tooltip{
    opacity: 1;
    animation: show-tooltip 500ms;
  }
}

@keyframes show-tooltip {
    from {
      opacity: 0;
      bottom: 0px;
    }
    to {
      opacity: 1;
      bottom: 14px;
    }
}

.tooltip{
  opacity: 0;
  background: rgba(0,0,0,.75);
  color: white;
  font-size: .8em;
  border-radius: 4px;
  padding: 8px 16px;
  text-align: center;
  position: absolute;
  bottom: 14px;
  left: 50%;
  transform: translate(-50%);
  z-index: 2000;
  white-space: pre;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}
