
#chart-div{
	margin-top: -20px;
	margin-bottom: -40px;
	min-height: 350px;

	div[dir="ltr"]{
		margin: 0 auto;
	}

	rect{
		fill: transparent;
	}
}

.vote {
  padding: 20px 50px !important;
}

.deleteBtn {
  display: block !important;
  margin: 0 auto;
  padding: 10px 40%;
}
