.titleField{
  width: 65% !important;

  & input{
    text-align: center;
  }

  & label{
    width: 100%;
    left: 50%;
    transform: translate(-50%) !important;
    font-size: 1.3rem !important;
  }

}

.titleField.focus{
  & label{
    transform: perspective(1px) scale(0.75) translate3d(0px, -28px, 0px) translate(-50%) !important;
  }
}

.addDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 25px;
}
.add{
  position: relative;
  left: 10px;
  bottom: -10px;
}

.answerField{
  //position: absolute !important;
}

.container{
  max-width: 380px !important;
  margin: 0 auto;
}

.answers{
  margin: 0 auto;
}

.checkbox{
  margin: 15px auto;
  
  & > div {
    justify-content: center; 
  }
  
  & label {
    width: initial !important;
  }
}

.error{
  color: $accent1Color;
  font-size: .85em;
  display: block;
}
