.header{
  display: flex;
  align-items: center;

  & h2 {
    flex-grow: 1;
  }
}

.editIcon{
  position: absolute !important;
  top: -3px;
}

.restoreIcon{
  position: absolute !important;
  top: -14px;
  left: 220px;
  z-index: 3;
}

.avatarContainer{
  position: relative;
}

.avatar{
  margin: 20px;
  flex-shrink: 0;
  position: relative;
  background-color: $accent1Color !important;
}

.editAvatar{
  position: absolute !important;
  left: 100px;
  top: 90px;
}

.restoreAvatar{
  position: absolute !important;
  left: 100px;
  top: 3px;
}

.uploadImage{
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  opacity: 0;
}

.introRow{
  display: flex;
  flex-wrap: wrap;
}

.username{
  flex-grow: 1;
  position: relative;
  top: 70px;
  transform: translate(0,-50%);

  & h2 {
    top: 50px;
    position: absolute;
  }
}

.fullRow{
  flex: 0 0  100%;
}

.editBio{
  position: absolute !important;
  left: 256px;
  top: 0;
}
