.pwdButton{
  width: 200px;
  display: block !important;
  margin: 0 auto;
  margin-bottom: 10px;
}

.dialogTitle{
  font-size: 2.5em !important;
  color: white !important;
  background-color: $primary1Color;
}
