.field{
  margin-bottom: 3px !important;
  
  & input {
    transition: all .85s cubic-bezier(0.23, 1, 0.32, 1) !important;
    width: 110% !important;
    margin-left: -5%;
    padding-left: 5% !important;
    border-radius: 5px;
  }
  
  & input:focus {
    background-color: color($accent2Color w(85%)) !important;
  }
}
